.App {
  margin-top: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
  padding: 10px;
}

h1 {
  color: #4a90e2;
}

.slider-container {
  display: flex;
  justify-content: center;
  gap: 1px;
}

.slider {
  width: 32px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  /* padding: 15px; */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.slider input[type="range"]
/* .form-range */ {
  transform: rotate(90deg);
  margin-top: 145px;
  margin-bottom: 110px;
  width: 950%;
  /* height: 200px; */
  /* margin: 10px 0; */
  direction: rtl;
  /* writing-mode: vertical-lr; */
}

.slider label {
  margin-top: 35px;
  font-size: 0.4em;
  color: #666;
}

.slider .value {
  margin-top: 10px;
  font-size: 0.45em;
  color: #4a90e2;
  /* margin-bottom: 10px; */
}
.btn {
  width: 31px;
  /* margin-top: 25px; */
}
